@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>Information to new Users</h3>

<div id="home">
    <p>
        Developer has access to the following operations
        <pre>
            1) One developer can create any number of stories.
            2) Have access to stories created by other developers.
            3) Developer can view,edit and stories, collages, story blocks. He can run a story
</pre>
    </p>
    <p>
        Administrator can perform below actions
        <pre>          
            1) He can archive a story.
            2) He can delete a story
            3) He can view stories, collages and story blocks
</pre>
    </p>
</div>
